* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper-off {
  background-color: #F4F4F4;
  transition: all .9s linear;
}

.wrapper-on {
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
}

i {
  font-size: xx-large;
  transition: all .9s linear;
}

.fa-toggle-on {
  color: greenyellow;
}

input {
  font-size: xx-large;
}

.row {
  margin: 3rem 0;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
}

img {
  border-radius: .3rem;
  box-shadow: -.2rem .2rem .8rem gray;
}

span {
  writing-mode: vertical-lr;
  vertical-align: top;
  font-size: small;
}

p {
  font-weight: 500;
  font-size: medium;
  margin: 1rem 0;
}
